In [2]:
import pandas as pd
from pathlib import Path

In [3]:
# Define the path to the data file
data_path = Path("../data/processed/asomata_cleaned.xlsx")

# Load the data
df = pd.read_excel(data_path)

# Display the first few rows to verify the data loaded correctly
print(f"Loaded data with {df.shape[0]} rows and {df.shape[1]} columns")
df.head()

Loaded data with 3621 rows and 42 columns

,Date,Production Unit I (MWh),Production Unit II (MWh),Total HPP,Auxiliaries Consumptions Unit I (MWh),Auxiliaries Consumptions Unit II (MWh),Auxiliaries Consumptions Grid (MWh),Net Production (MWh),Peak (MW),Hours of Operation Unit I,...,HPP Sfikia Water Production (m3 x 1000),HPP Sfikia Water Pumped upstream (m3 x 1000),Lake natural inflow (m3 x 1000),Losses (m3 x 1000),B,Regulating lake Water flow (m3/s),Regulating lake Total Water (m3 x 1000),Year,Month,SourceFile
0,1,590,160,750,0.0,0.0,5,745,105,13.2,...,9840.4,2872.340426,243.940426,60,NaN,89.722222,7752.00,2014,1,2014_01_Asomata_english.xlsx
1,2,600,0,600,0.0,0.0,5,595,55,12.9,...,7784.0,1840.425532,56.425532,60,NaN,70.138889,6060.00,2014,1,2014_01_Asomata_english.xlsx
2,3,235,0,235,0.0,0.0,4,231,54,5.5,...,2628.0,0.000000,156.500000,30,NaN,29.103009,2514.50,2014,1,2014_01_Asomata_english.xlsx
3,4,355,0,355,0.0,0.0,5,350,54,7.0,...,3268.8,2356.382979,256.392979,60,NaN,42.000116,3628.81,2014,1,2014_01_Asomata_english.xlsx
4,5,195,0,195,0.0,0.0,5,190,40,5.0,...,2275.2,0.000000,81.300000,150,NaN,24.149306,2086.50,2014,1,2014_01_Asomata_english.xlsx

In [4]:
# Check the data types of each column
print("Data types for each column:")
df.dtypes

Data types for each column:

Date                                               int64
Production Unit I (MWh)                            int64
Production Unit II (MWh)                           int64
Total HPP                                          int64
Auxiliaries Consumptions Unit I (MWh)            float64
Auxiliaries Consumptions Unit II (MWh)           float64
Auxiliaries Consumptions Grid (MWh)                int64
Net Production (MWh)                               int64
Peak (MW)                                          int64
Hours of Operation Unit I                        float64
Hours of Operation Unit II                       float64
Unit I Maintenance Plant                         float64
Unit I Maintenance Outside                       float64
Unit I Failure Plant                             float64
Unit I Failure Outside                           float64
Unit II Maintenance Plant                        float64
Unit II Maintenance Outside                      float64
Unit II Failure Plant                            float64
Unit II Failure Outside                          float64
Number of Starts Unit I                            int64
Number of Starts Unit II                           int64
Comments                                          object
Date.1                                             int64
Asomata Reservoir Water Level (m)                float64
Asomata Reservoir Water Content (m3 x 1000)      float64
Regulating lake Water Level (m)                  float64
Regulating lake Water Content (m3 x 1000)        float64
Water saved in lake                              float64
Catchment water inflow                           float64
Production Water Consumption (m3 x 1000)         float64
Specific Consumption                             float64
Turbine Efficiency                               float64
HPP Sfikia Water Production (m3  x 1000)         float64
HPP Sfikia Water Pumped upstream (m3  x 1000)    float64
Lake natural inflow (m3  x 1000)                 float64
Losses (m3  x 1000)                                int64
B                                                float64
Regulating lake Water flow  (m3/s)               float64
Regulating lake Total Water (m3  x 1000)         float64
Year                                               int64
Month                                              int64
SourceFile                                        object
dtype: object

In [6]:
# Drop SourceFile, Date.1, and B columns
df = df.drop(columns=['SourceFile', 'Date.1', 'B'], errors='ignore')

# Get all column names
all_cols = df.columns.tolist()

# Remove Year and Month if they exist (so we don't duplicate them)
cols_without_year_month = [col for col in all_cols if col not in ['Year', 'Month']]

# Create new column order with Year and Month first, then all other columns
new_col_order = ['Year', 'Month'] + cols_without_year_month

# Reindex the dataframe with the new column order
df = df[new_col_order]

# Display the result
print("DataFrame with reorganized columns:")
df.head()

DataFrame with reorganized columns:

,Year,Month,Date,Production Unit I (MWh),Production Unit II (MWh),Total HPP,Auxiliaries Consumptions Unit I (MWh),Auxiliaries Consumptions Unit II (MWh),Auxiliaries Consumptions Grid (MWh),Net Production (MWh),...,Catchment water inflow,Production Water Consumption (m3 x 1000),Specific Consumption,Turbine Efficiency,HPP Sfikia Water Production (m3 x 1000),HPP Sfikia Water Pumped upstream (m3 x 1000),Lake natural inflow (m3 x 1000),Losses (m3 x 1000),Regulating lake Water flow (m3/s),Regulating lake Total Water (m3 x 1000)
0,2014,1,1,590,160,750,0.0,0.0,5,745,...,10024.340426,7752.00,10.336,83.440807,9840.4,2872.340426,243.940426,60,89.722222,7752.00
1,2014,1,2,600,0,600,0.0,0.0,5,595,...,7780.425532,6060.00,10.100,85.490973,7784.0,1840.425532,56.425532,60,70.138889,6060.00
2,2014,1,3,235,0,235,0.0,0.0,4,231,...,2754.500000,2514.50,10.700,80.507657,2628.0,0.000000,156.500000,30,29.103009,2514.50
3,2014,1,4,355,0,355,0.0,0.0,5,350,...,3465.192979,3628.81,10.222,86.401972,3268.8,2356.382979,256.392979,60,42.000116,3628.81
4,2014,1,5,195,0,195,0.0,0.0,5,190,...,2206.500000,2086.50,10.700,82.442937,2275.2,0.000000,81.300000,150,24.149306,2086.50

In [7]:
# Create a proper datetime column from Year and Month
df['Date'] = pd.to_datetime(df[['Year', 'Month']].assign(Day=1))

# Get the min and max dates in the dataset
min_date = df['Date'].min()
max_date = df['Date'].max()

# Create a complete date range at monthly frequency
complete_date_range = pd.date_range(start=min_date, end=max_date, freq='MS')  # MS = Month Start

# Convert to DataFrame for comparison
date_df = pd.DataFrame({'Date': complete_date_range})

# Check which dates from the complete range are missing in the dataset
missing_dates = date_df[~date_df['Date'].isin(df['Date'])]

if missing_dates.empty:
    print("No missing months in the dataset.")
else:
    print(f"Found {len(missing_dates)} missing months in the dataset:")
    print(missing_dates.sort_values('Date'))

# Count records per month to check for potentially incomplete months
print("\nRecords per month:")
monthly_counts = df.groupby(['Year', 'Month']).size().reset_index(name='count')
print(monthly_counts.sort_values(['Year', 'Month']))

Found 1 missing months in the dataset:
          Date
112 2023-05-01

Records per month:
     Year  Month  count
0    2014      1     31
1    2014      2     28
2    2014      3     31
3    2014      4     30
4    2014      5     31
..    ...    ...    ...
114  2023      8     31
115  2023      9     30
116  2023     10     31
117  2023     11     30
118  2023     12     31

[119 rows x 3 columns]

In [8]:
df

,Year,Month,Date,Production Unit I (MWh),Production Unit II (MWh),Total HPP,Auxiliaries Consumptions Unit I (MWh),Auxiliaries Consumptions Unit II (MWh),Auxiliaries Consumptions Grid (MWh),Net Production (MWh),...,Catchment water inflow,Production Water Consumption (m3 x 1000),Specific Consumption,Turbine Efficiency,HPP Sfikia Water Production (m3 x 1000),HPP Sfikia Water Pumped upstream (m3 x 1000),Lake natural inflow (m3 x 1000),Losses (m3 x 1000),Regulating lake Water flow (m3/s),Regulating lake Total Water (m3 x 1000)
0,2014,1,2014-01-01,590,160,750,0.0,0.0,5,745,...,10024.340426,7752.00,10.336,83.440807,9840.40,2872.340426,243.940426,60,89.722222,7752.00
1,2014,1,2014-01-01,600,0,600,0.0,0.0,5,595,...,7780.425532,6060.00,10.100,85.490973,7784.00,1840.425532,56.425532,60,70.138889,6060.00
2,2014,1,2014-01-01,235,0,235,0.0,0.0,4,231,...,2754.500000,2514.50,10.700,80.507657,2628.00,0.000000,156.500000,30,29.103009,2514.50
3,2014,1,2014-01-01,355,0,355,0.0,0.0,5,350,...,3465.192979,3628.81,10.222,86.401972,3268.80,2356.382979,256.392979,60,42.000116,3628.81
4,2014,1,2014-01-01,195,0,195,0.0,0.0,5,190,...,2206.500000,2086.50,10.700,82.442937,2275.20,0.000000,81.300000,150,24.149306,2086.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3616,2023,12,2023-12-01,244,0,244,0.0,0.0,3,244,...,5256.808511,2440.00,10.000,85.740654,5141.55,2696.808511,115.258511,0,28.240741,2440.00
3617,2023,12,2023-12-01,187,267,454,0.0,0.0,4,454,...,8197.740426,4585.40,10.100,84.693854,8150.30,3372.340426,87.440426,40,53.071759,4585.40
3618,2023,12,2023-12-01,257,0,257,0.0,0.0,3,257,...,9165.061702,2595.70,10.100,83.814679,9118.80,5489.361702,106.261702,60,30.042824,2595.70
3619,2023,12,2023-12-01,0,329,329,0.0,0.0,3,329,...,4284.736735,3322.90,10.100,83.718118,4215.15,841.836735,69.586735,0,38.459491,3322.90
3620,2023,12,2023-12-01,558,57,615,0.0,0.0,3,615,...,5553.000000,6273.00,10.200,83.474364,5590.20,0.000000,22.800000,60,72.604167,6273.00